.CodeMirror pre.CodeMirror-cursor {
    border-left: 6px solid #fff;
}


.panel-primary {
    border-color:#202020;
    box-shadow: none;
}
.panel-primary > .panel-heading,
.panel-default>.panel-heading {
    background-color: #202020;
    border-color: #202020;
    background-image: none;
    color:#fff;
}

.panel {
    background-color: #202020;
}

.CodeMirror-scroll .CodeMirror-gutter {
    background-color: #202020;
    background-image: none;
    border:none;
    box-shadow: none;
}

.CodeMirror-scroll{
    background-color: #202020;
    box-shadow: none;
}

.eval, .source-map {
    background-color: #202020;
    color: #fff;
}

pre.eval:before {
   content: 'λ '
}

.error {
    background: #202020;
}

button.btn.btn-danger {
    background-color: #bf0000;
    background-image: none;
}

.navbar.navbar-inverse.navbar-fixed-top {
    background-color: #202020;
    background-image: none;
}